nr-server/data/.flows.json.backup
[
    {
        "id": "3021c112b8f44a27",
        "type": "tab",
        "label": "Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da13c66b783a1a3b",
        "type": "tab",
        "label": "Blueprints",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f2fd42354b38c8bc",
        "type": "tab",
        "label": "node-red-blueprints",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6872e72f4ada9225",
        "type": "tab",
        "label": "UDP Server Template",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8fc52c2ecdccb9b1",
        "type": "tab",
        "label": "MQTT Client Template",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5e37ef9d739b77e1",
        "type": "group",
        "z": "3021c112b8f44a27",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "6b93a23ee5c5bdbe",
            "ae31c68b9033ac5d",
            "92e8441ec9afb089",
            "1148edfba1a538be",
            "b5f0590235244293",
            "e8741b97f3b16d68",
            "fa12b4c4386720d3",
            "71fef5019b5ab158",
            "d7571e5e74bfe342"
        ],
        "x": 134,
        "y": 1079,
        "w": 512,
        "h": 342
    },
    {
        "id": "f3e1e5f0afc6dd83",
        "type": "group",
        "z": "3021c112b8f44a27",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "4635518bc1964064",
            "19255f70498417f2",
            "d34c16fbfb248ea0",
            "a3ebdbed6833dffd",
            "4ae2f24fedb8665c",
            "f3ddbefc87aa4919",
            "330e491f0f811cf8",
            "029409776332c8f2",
            "716c37ef41124d96",
            "1fc87b6260981378",
            "b24ce9d5259f7a5b",
            "ee264c58222ca125",
            "8ead84eef829c6c9"
        ],
        "x": 134,
        "y": 19,
        "w": 752,
        "h": 362
    },
    {
        "id": "d655e1845c1c0605",
        "type": "group",
        "z": "3021c112b8f44a27",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "9355fb15e97f3d55",
            "3377cfa5cc17f960",
            "b3e2756e03e01c73",
            "1b6fbe11bf5fe54c",
            "b523048bb88a13a2",
            "fb60e6ff2366e7fd",
            "4dfefcdd5119b094",
            "1a8aeb57cba02716",
            "ea6e76c9ce43e476",
            "b3904af4edd0efc3",
            "0db68cb0f55ce6cc",
            "40374a02d4524d66",
            "8aad875e96bfd35c",
            "495d88c2e35a38ab",
            "c5b79acd62af72d2",
            "0bb3b0c361a8cd37",
            "a7523c7f699d4cb5",
            "e9c5c9149ef25f28",
            "fce3bde55afe2dfe",
            "b2404c8ab272a2b3",
            "508a91c69611c103",
            "a8af37f238b19835"
        ],
        "x": 134,
        "y": 439,
        "w": 1232,
        "h": 522
    },
    {
        "id": "917521be145e7dea",
        "type": "group",
        "z": "da13c66b783a1a3b",
        "name": "Generate Code FIles",
        "style": {
            "fill": "#bfdbef",
            "label": true
        },
        "nodes": [
            "88afddfc1793a1b7",
            "d70dd00dca6a0cce",
            "dbca8444dc244af2",
            "08d0dc02271d9f00",
            "d39aeb3c9eca5781",
            "525255550e528ce0",
            "87bb21fcace731b7",
            "c2364cceab01c70e",
            "db8ad56ff34e4481",
            "a1f91f422015723f",
            "042b48527aa3aa9c",
            "ccacbe41f0d86fdd",
            "00e9db61cf1a7ac9",
            "c9051f1e5866c88f",
            "9d80250f60353b1e",
            "3e5ac603ae30f732",
            "a1ec82b476b04505",
            "110febe7c3cb06a7",
            "336f4a4c4510a4a1",
            "6960e6e9054bcb18",
            "c08815402cd2dfa9",
            "cfacc98270f20675",
            "e09d1e1597d3929c",
            "2c840ddce9d03835"
        ],
        "x": 54,
        "y": 59,
        "w": 1072,
        "h": 562
    },
    {
        "id": "b98fd0058ee5ea60",
        "type": "mqtt-broker",
        "name": "",
        "broker": "http://localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4635518bc1964064",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "[GET] jrgen-editor",
        "url": "/jrgen-editor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "d34c16fbfb248ea0"
            ]
        ]
    },
    {
        "id": "9355fb15e97f3d55",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "[GET] jrgen-editor/artifact.json",
        "url": "/jrgen-editor/artifact.json",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1210,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3377cfa5cc17f960",
        "type": "file",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "[WRITE] schema.json",
        "filename": "/data/jrgen-editor/schema.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 460,
        "y": 880,
        "wires": [
            [
                "b3904af4edd0efc3"
            ]
        ]
    },
    {
        "id": "1f6b16cea7ffc246",
        "type": "http response",
        "z": "3021c112b8f44a27",
        "name": "Response",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "19255f70498417f2",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "[GET] index.js",
        "url": "/index.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 790,
        "y": 120,
        "wires": [
            [
                "a3ebdbed6833dffd"
            ]
        ]
    },
    {
        "id": "d34c16fbfb248ea0",
        "type": "file in",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "",
        "filename": "/data/jrgen-editor/api-editor.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 390,
        "y": 160,
        "wires": [
            [
                "4ae2f24fedb8665c"
            ]
        ]
    },
    {
        "id": "a3ebdbed6833dffd",
        "type": "file in",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "",
        "filename": "/data/jrgen-editor/index.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 750,
        "y": 160,
        "wires": [
            [
                "f3ddbefc87aa4919"
            ]
        ]
    },
    {
        "id": "b3e2756e03e01c73",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "[PUT] jrgen-editor/schema.json",
        "url": "/jrgen-editor/schema.json",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 840,
        "wires": [
            [
                "3377cfa5cc17f960"
            ]
        ]
    },
    {
        "id": "1b6fbe11bf5fe54c",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "[GET] jrgen-editor/schema.json",
        "url": "/jrgen-editor/schema.json",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 540,
        "wires": [
            [
                "e9c5c9149ef25f28"
            ]
        ]
    },
    {
        "id": "b2404c8ab272a2b3",
        "type": "file in",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "[READ] schema.json",
        "filename": "/data/jrgen-editor/schema.json",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 880,
        "y": 580,
        "wires": [
            [
                "508a91c69611c103"
            ]
        ]
    },
    {
        "id": "b523048bb88a13a2",
        "type": "function",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "get-method",
        "func": "let requestedMethod = msg.req.query.method;\nlet methodSchema = msg.payload.methods[requestedMethod];\nif (methodSchema){\n    msg.payload = methodSchema;\n}else{\n    msg.payload = {\n        \"error\":`${requestedMethod} does not exist.`\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 740,
        "wires": [
            [
                "ea6e76c9ce43e476"
            ]
        ]
    },
    {
        "id": "fb60e6ff2366e7fd",
        "type": "json",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 660,
        "wires": [
            [
                "a7523c7f699d4cb5",
                "a8af37f238b19835"
            ]
        ]
    },
    {
        "id": "4dfefcdd5119b094",
        "type": "function",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "if query.method",
        "func": "\nif (msg.req.query.method) {\n    \n    return [null, msg]\n\n} else {\n    return [msg, null]\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 620,
        "wires": [
            [
                "1a8aeb57cba02716"
            ],
            [
                "fb60e6ff2366e7fd"
            ]
        ]
    },
    {
        "id": "1a8aeb57cba02716",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 670,
        "y": 600,
        "wires": [],
        "l": true
    },
    {
        "id": "ea6e76c9ce43e476",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 470,
        "y": 780,
        "wires": [],
        "l": true
    },
    {
        "id": "b3904af4edd0efc3",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 490,
        "y": 920,
        "wires": [],
        "l": true
    },
    {
        "id": "4ae2f24fedb8665c",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 450,
        "y": 200,
        "wires": [],
        "l": true
    },
    {
        "id": "f3ddbefc87aa4919",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 790,
        "y": 200,
        "wires": [],
        "l": true
    },
    {
        "id": "d3cda662559e53d7",
        "type": "link in",
        "z": "3021c112b8f44a27",
        "name": "link-in-response",
        "links": [
            "1a8aeb57cba02716",
            "4ae2f24fedb8665c",
            "b3904af4edd0efc3",
            "ea6e76c9ce43e476",
            "f3ddbefc87aa4919",
            "40374a02d4524d66",
            "385cc03b4defca08",
            "33451a27637a67c6",
            "716c37ef41124d96",
            "92e8441ec9afb089",
            "e8741b97f3b16d68",
            "a1f91f422015723f",
            "336f4a4c4510a4a1",
            "5cae8fb91340ec16",
            "053c0cc06153260c",
            "a7f6bda975d5f2ff",
            "4b4d9a4942576975"
        ],
        "x": 1060,
        "y": 220,
        "wires": [
            [
                "1f6b16cea7ffc246"
            ]
        ],
        "l": true
    },
    {
        "id": "0db68cb0f55ce6cc",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "[PUT] jrgen-editor/artifact.json",
        "url": "/jrgen-editor/artifact.json",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1220,
        "y": 840,
        "wires": [
            [
                "8aad875e96bfd35c"
            ]
        ]
    },
    {
        "id": "40374a02d4524d66",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 1270,
        "y": 920,
        "wires": [],
        "l": true
    },
    {
        "id": "8aad875e96bfd35c",
        "type": "file",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "[WRITE] artifact.json",
        "filename": "/data/jrgen-editor/artifact.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1240,
        "y": 880,
        "wires": [
            [
                "40374a02d4524d66"
            ]
        ]
    },
    {
        "id": "6afd6930fcad9c84",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "name": "[PUT] jrgen-editor/ui.html",
        "url": "/jrgen-editor/ui.html",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 1670,
        "y": 700,
        "wires": [
            [
                "c594ec1e6581c7d0"
            ]
        ]
    },
    {
        "id": "385cc03b4defca08",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 1710,
        "y": 860,
        "wires": [],
        "l": true
    },
    {
        "id": "dd10620bc2bbc63b",
        "type": "file",
        "z": "3021c112b8f44a27",
        "name": "[WRITE] ui.html",
        "filename": "/data/jrgen-editor/ui.html",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1700,
        "y": 820,
        "wires": [
            [
                "385cc03b4defca08"
            ]
        ]
    },
    {
        "id": "c594ec1e6581c7d0",
        "type": "html",
        "z": "3021c112b8f44a27",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "#export",
        "ret": "html",
        "as": "single",
        "x": 1580,
        "y": 740,
        "wires": [
            [
                "56154a506e2477fd"
            ]
        ]
    },
    {
        "id": "56154a506e2477fd",
        "type": "split",
        "z": "3021c112b8f44a27",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1730,
        "y": 740,
        "wires": [
            [
                "8ea6fc29a7e5daf3"
            ]
        ]
    },
    {
        "id": "8ea6fc29a7e5daf3",
        "type": "function",
        "z": "3021c112b8f44a27",
        "name": "function 1",
        "func": "msg.payload = `< !DOCTYPE html >\n    <html>\n\n        <head>\n            <meta charset=\"utf-8\" />\n            <meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\" />\n            <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n            <title>JSON RPC API</title>\n\n            <script src=\"https://unpkg.com/vue@3/dist/vue.global.js\"></script>\n            <script src=\"/index.js\"></script>\n            <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css\"\n                integrity=\"sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2\" crossorigin=\"anonymous\" />\n            <script src=\"https://code.jquery.com/jquery-3.5.1.slim.min.js\"\n                integrity=\"sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj\" crossorigin=\"anonymous\">\n            </script>\n            <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js\"\n                integrity=\"sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx\" crossorigin=\"anonymous\">\n            </script>\n            <script src=\"https://cdn.jsdelivr.net/npm/monaco-editor@0.27.0/min/vs/loader.js\"></script>\n\n            <style>\n                button {\n                    margin: 4px;\n    }\n\n                h4 {\n                    display: inline;\n    }\n\n                p {\n                    word - wrap: break-word;\n    }\n\n                .sidenav,\n                .content {\n                    overflow - y: auto;\n                height: calc(100vh - 57px);\n                max-height: calc(100vh - 57px);\n    }\n\n                .sidenav {\n                    padding: 0;\n                display: flex;\n                flex-wrap: nowrap;\n                flex-direction: column;\n                justify-content: start;\n                align-items: stretch;\n                align-content: start\n    }\n\n                .card {\n                    margin - bottom: 15px;\n    }\n\n                .card-header {\n                    cursor: pointer;\n    }\n\n                .content,\n                .card-block,\n                .search-form {\n                    padding: 15px;\n    }\n\n                .dropdown-menu {\n                    position: absolute;\n                top: 100%;\n                left: 0;\n                z-index: 999;\n    }\n\n                .nav-link {\n                    color: #343a40 !important;\n    }\n\n                .nav-pills .nav-link.active,\n    .nav-pills .show>.nav-link {\n                    color: #f8f9fa !important;\n                background-color: #343a40 !important;\n    }\n\n                .card.disabled,\n                .nav-link.disabled {\n                    opacity: 0.5;\n    }\n            </style>\n        </head>\n\n        <body class=\"bg-light\">\n            ${msg.payload}\n        </body>\n    </html>\n\n\n`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 780,
        "wires": [
            [
                "dd10620bc2bbc63b"
            ]
        ]
    },
    {
        "id": "8701e3d7dac1b557",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "name": "",
        "url": "/rpc/api/requestExamples",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1070,
        "y": 40,
        "wires": [
            [
                "d76b05561adc8cda",
                "33451a27637a67c6"
            ]
        ]
    },
    {
        "id": "d76b05561adc8cda",
        "type": "debug",
        "z": "3021c112b8f44a27",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 40,
        "wires": []
    },
    {
        "id": "33451a27637a67c6",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 1130,
        "y": 80,
        "wires": [],
        "l": true
    },
    {
        "id": "330e491f0f811cf8",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "[GET] /json-refs.js",
        "url": "/json-refs.js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 260,
        "wires": [
            [
                "029409776332c8f2"
            ]
        ]
    },
    {
        "id": "029409776332c8f2",
        "type": "file in",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "",
        "filename": "/data/jrgen-editor/json-refs.js",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 380,
        "y": 300,
        "wires": [
            [
                "716c37ef41124d96"
            ]
        ]
    },
    {
        "id": "716c37ef41124d96",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 450,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "6b93a23ee5c5bdbe",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "g": "5e37ef9d739b77e1",
        "name": "[PUT] jrgen-editor/state/language",
        "url": "/jrgen-editor/state/language",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 490,
        "y": 1160,
        "wires": [
            [
                "ae31c68b9033ac5d"
            ]
        ]
    },
    {
        "id": "ae31c68b9033ac5d",
        "type": "change",
        "z": "3021c112b8f44a27",
        "g": "5e37ef9d739b77e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "state.language",
                "pt": "flow",
                "to": "payload.language",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1200,
        "wires": [
            [
                "92e8441ec9afb089"
            ]
        ]
    },
    {
        "id": "92e8441ec9afb089",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "g": "5e37ef9d739b77e1",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 550,
        "y": 1240,
        "wires": [],
        "l": true
    },
    {
        "id": "1148edfba1a538be",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "g": "5e37ef9d739b77e1",
        "name": "[GET] jrgen-editor/state",
        "url": "/jrgen-editor/state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 520,
        "y": 1300,
        "wires": [
            [
                "b5f0590235244293"
            ]
        ]
    },
    {
        "id": "b5f0590235244293",
        "type": "change",
        "z": "3021c112b8f44a27",
        "g": "5e37ef9d739b77e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "state",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 1340,
        "wires": [
            [
                "e8741b97f3b16d68"
            ]
        ]
    },
    {
        "id": "e8741b97f3b16d68",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "g": "5e37ef9d739b77e1",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 550,
        "y": 1380,
        "wires": [],
        "l": true
    },
    {
        "id": "fa12b4c4386720d3",
        "type": "comment",
        "z": "3021c112b8f44a27",
        "g": "5e37ef9d739b77e1",
        "name": "Manage editor state",
        "info": "",
        "x": 450,
        "y": 1120,
        "wires": []
    },
    {
        "id": "1fc87b6260981378",
        "type": "comment",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "get html and scripts",
        "info": "",
        "x": 350,
        "y": 60,
        "wires": []
    },
    {
        "id": "495d88c2e35a38ab",
        "type": "comment",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "get/put schema and artifacts",
        "info": "",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "4c0e041327fc1acd",
        "type": "tcp request",
        "z": "3021c112b8f44a27",
        "name": "",
        "server": "",
        "port": "",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 1870,
        "y": 100,
        "wires": [
            [
                "efa0a273cae1c1db"
            ]
        ]
    },
    {
        "id": "81995c3b5d171079",
        "type": "udp out",
        "z": "3021c112b8f44a27",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 2070,
        "y": 180,
        "wires": []
    },
    {
        "id": "ab8029cb4f31318f",
        "type": "http in",
        "z": "3021c112b8f44a27",
        "name": "",
        "url": "/jrgen-editor/rpc-request",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 1950,
        "y": 240,
        "wires": [
            [
                "774f5511adcd0b15"
            ]
        ]
    },
    {
        "id": "5f5340bbc5f8a306",
        "type": "switch",
        "z": "3021c112b8f44a27",
        "name": "",
        "property": "payload.protocol",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "TCP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "UDP",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MQTT",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1850,
        "y": 360,
        "wires": [
            [
                "e1f3f4c0cd7b174f"
            ],
            [
                "c98f2537c4f959a1"
            ],
            [
                "78599141aace3602"
            ]
        ]
    },
    {
        "id": "774f5511adcd0b15",
        "type": "change",
        "z": "3021c112b8f44a27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "msg",
                "to": "payload.host",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "payload.port",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 280,
        "wires": [
            [
                "5f5340bbc5f8a306"
            ]
        ]
    },
    {
        "id": "32259b222e8bc0d7",
        "type": "change",
        "z": "3021c112b8f44a27",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "host",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 100,
        "wires": [
            [
                "a8551923b3276ef6"
            ]
        ]
    },
    {
        "id": "a8551923b3276ef6",
        "type": "json",
        "z": "3021c112b8f44a27",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 2070,
        "y": 140,
        "wires": [
            [
                "81995c3b5d171079",
                "a7f6bda975d5f2ff"
            ]
        ]
    },
    {
        "id": "b24ce9d5259f7a5b",
        "type": "comment",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "the editor web app",
        "info": "",
        "x": 250,
        "y": 120,
        "wires": []
    },
    {
        "id": "ee264c58222ca125",
        "type": "comment",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "json-refs module",
        "info": "",
        "x": 260,
        "y": 260,
        "wires": []
    },
    {
        "id": "8ead84eef829c6c9",
        "type": "comment",
        "z": "3021c112b8f44a27",
        "g": "f3e1e5f0afc6dd83",
        "name": "main js file",
        "info": "",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "c5b79acd62af72d2",
        "type": "comment",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "api schema",
        "info": "",
        "x": 230,
        "y": 540,
        "wires": []
    },
    {
        "id": "0bb3b0c361a8cd37",
        "type": "comment",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "artifacts \\n used by Vue",
        "info": "",
        "x": 1230,
        "y": 780,
        "wires": []
    },
    {
        "id": "71fef5019b5ab158",
        "type": "comment",
        "z": "3021c112b8f44a27",
        "g": "5e37ef9d739b77e1",
        "name": "save editor language",
        "info": "",
        "x": 260,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d7571e5e74bfe342",
        "type": "comment",
        "z": "3021c112b8f44a27",
        "g": "5e37ef9d739b77e1",
        "name": "get whole state object",
        "info": "",
        "x": 320,
        "y": 1300,
        "wires": []
    },
    {
        "id": "a7523c7f699d4cb5",
        "type": "json-refs-parser",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "",
        "x": 460,
        "y": 700,
        "wires": [
            [
                "b523048bb88a13a2"
            ]
        ]
    },
    {
        "id": "fce3bde55afe2dfe",
        "type": "link in",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "get-schema.json",
        "links": [],
        "x": 900,
        "y": 540,
        "wires": [
            [
                "b2404c8ab272a2b3"
            ]
        ],
        "l": true
    },
    {
        "id": "508a91c69611c103",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "return-schema.json",
        "mode": "return",
        "links": [],
        "x": 890,
        "y": 620,
        "wires": [],
        "l": true
    },
    {
        "id": "e9c5c9149ef25f28",
        "type": "link call",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "call-get-schema.json",
        "links": [
            "fce3bde55afe2dfe"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 460,
        "y": 580,
        "wires": [
            [
                "4dfefcdd5119b094"
            ]
        ]
    },
    {
        "id": "c98f2537c4f959a1",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "name": "call-udp-sender",
        "mode": "link",
        "links": [
            "ab212fe8bae30972"
        ],
        "x": 2000,
        "y": 360,
        "wires": [],
        "l": true
    },
    {
        "id": "78599141aace3602",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "name": "call-mqtt-sender",
        "mode": "link",
        "links": [],
        "x": 2000,
        "y": 400,
        "wires": [],
        "l": true
    },
    {
        "id": "39c989916b109d4c",
        "type": "link in",
        "z": "3021c112b8f44a27",
        "name": "tcp-sender",
        "links": [
            "87886f44b6c8ed49"
        ],
        "x": 1860,
        "y": 60,
        "wires": [
            [
                "4c0e041327fc1acd"
            ]
        ],
        "l": true
    },
    {
        "id": "e1f3f4c0cd7b174f",
        "type": "link call",
        "z": "3021c112b8f44a27",
        "name": "call-tcp-sender",
        "links": [
            "39c989916b109d4c"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 2000,
        "y": 320,
        "wires": [
            [
                "053c0cc06153260c"
            ]
        ]
    },
    {
        "id": "efa0a273cae1c1db",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "name": "return-tcp",
        "mode": "return",
        "links": [],
        "x": 1860,
        "y": 140,
        "wires": [],
        "l": true
    },
    {
        "id": "053c0cc06153260c",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 2170,
        "y": 320,
        "wires": [],
        "l": true
    },
    {
        "id": "ab212fe8bae30972",
        "type": "link in",
        "z": "3021c112b8f44a27",
        "name": "udp-sender",
        "links": [
            "c98f2537c4f959a1"
        ],
        "x": 2050,
        "y": 60,
        "wires": [
            [
                "32259b222e8bc0d7"
            ]
        ],
        "l": true
    },
    {
        "id": "a7f6bda975d5f2ff",
        "type": "link out",
        "z": "3021c112b8f44a27",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 2230,
        "y": 140,
        "wires": [],
        "l": true
    },
    {
        "id": "a8af37f238b19835",
        "type": "debug",
        "z": "3021c112b8f44a27",
        "g": "d655e1845c1c0605",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 660,
        "wires": []
    },
    {
        "id": "88afddfc1793a1b7",
        "type": "function",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "generate model",
        "func": "msg.payload = {\n    template:msg.template,\n    model: {\n        title: msg.schema.info.title.replace(/\\s/g, \"\"),\n        methods: Object.keys(msg.schema.methods).map((key) => {\n            return {\n                functionName: key.replace(/\\./g, \"_\"),\n                rpcName: key,\n            };\n        }),\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 180,
        "wires": [
            [
                "c08815402cd2dfa9",
                "525255550e528ce0"
            ]
        ]
    },
    {
        "id": "d70dd00dca6a0cce",
        "type": "http in",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "[GET] /jrgen-editor/templates/clients/web-js",
        "url": "/jrgen-editor/templates/clients/web-js",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "dbca8444dc244af2"
            ]
        ]
    },
    {
        "id": "dbca8444dc244af2",
        "type": "file in",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "[READ] api-client.js.mustache",
        "filename": "/data/jrgen-editor/blueprints/js-client/api-client.js.mustache",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 290,
        "y": 380,
        "wires": [
            [
                "08d0dc02271d9f00"
            ]
        ]
    },
    {
        "id": "08d0dc02271d9f00",
        "type": "change",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 420,
        "wires": [
            [
                "db8ad56ff34e4481"
            ]
        ]
    },
    {
        "id": "d39aeb3c9eca5781",
        "type": "change",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "schema",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "88afddfc1793a1b7"
            ]
        ]
    },
    {
        "id": "525255550e528ce0",
        "type": "debug",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "log artifacts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "87bb21fcace731b7",
        "type": "inject",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "dbca8444dc244af2"
            ]
        ]
    },
    {
        "id": "c2364cceab01c70e",
        "type": "file",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "[WRITE] api-client-example.js",
        "filename": "/data/jrgen-editor/blueprints/js-client/api-client-example.js",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 290,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "db8ad56ff34e4481",
        "type": "link call",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "call-get-schema.json",
        "links": [
            "fce3bde55afe2dfe"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 320,
        "y": 460,
        "wires": [
            [
                "c9051f1e5866c88f"
            ]
        ]
    },
    {
        "id": "a1f91f422015723f",
        "type": "link out",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 530,
        "y": 540,
        "wires": [],
        "l": true
    },
    {
        "id": "042b48527aa3aa9c",
        "type": "change",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 420,
        "wires": [
            [
                "ccacbe41f0d86fdd"
            ]
        ]
    },
    {
        "id": "ccacbe41f0d86fdd",
        "type": "link call",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "call-get-schema.json",
        "links": [
            "fce3bde55afe2dfe"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 820,
        "y": 460,
        "wires": [
            [
                "110febe7c3cb06a7"
            ]
        ]
    },
    {
        "id": "00e9db61cf1a7ac9",
        "type": "json",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "d39aeb3c9eca5781"
            ]
        ]
    },
    {
        "id": "c9051f1e5866c88f",
        "type": "link call",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "call-generate-model",
        "links": [
            "6960e6e9054bcb18"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "e09d1e1597d3929c"
            ]
        ]
    },
    {
        "id": "9d80250f60353b1e",
        "type": "file in",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "[READ] api-client.ts.mustache",
        "filename": "/data/jrgen-editor/blueprints/ts-client/api-client.ts.mustache",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "042b48527aa3aa9c"
            ]
        ]
    },
    {
        "id": "3e5ac603ae30f732",
        "type": "http in",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "[GET] /jrgen-editor/templates/clients/web-ts",
        "url": "/jrgen-editor/templates/clients/web-ts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 750,
        "y": 340,
        "wires": [
            [
                "9d80250f60353b1e"
            ]
        ]
    },
    {
        "id": "a1ec82b476b04505",
        "type": "file",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "[WRITE] api-client-example.ts",
        "filename": "/data/jrgen-editor/blueprints/ts-client/api-client-example.ts",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 790,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "110febe7c3cb06a7",
        "type": "link call",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "call-generate-model",
        "links": [
            "6960e6e9054bcb18"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 820,
        "y": 500,
        "wires": [
            [
                "2c840ddce9d03835"
            ]
        ]
    },
    {
        "id": "336f4a4c4510a4a1",
        "type": "link out",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 1030,
        "y": 540,
        "wires": [],
        "l": true
    },
    {
        "id": "6960e6e9054bcb18",
        "type": "link in",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "in-generate-model",
        "links": [],
        "x": 250,
        "y": 100,
        "wires": [
            [
                "00e9db61cf1a7ac9"
            ]
        ],
        "l": true
    },
    {
        "id": "c08815402cd2dfa9",
        "type": "link out",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "return-artifacts",
        "mode": "return",
        "links": [],
        "x": 580,
        "y": 180,
        "wires": [],
        "l": true
    },
    {
        "id": "cfacc98270f20675",
        "type": "inject",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "9d80250f60353b1e"
            ]
        ]
    },
    {
        "id": "e09d1e1597d3929c",
        "type": "function",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "generate artifacts",
        "func": "let template = msg.payload.template;\n\nlet model = msg.payload.model;\nnode.warn(model)\nlet artifact = mustache.render(template, model);\nmsg.payload = artifact;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "mustache",
                "module": "mustache"
            }
        ],
        "x": 330,
        "y": 540,
        "wires": [
            [
                "c2364cceab01c70e",
                "a1f91f422015723f"
            ]
        ]
    },
    {
        "id": "2c840ddce9d03835",
        "type": "function",
        "z": "da13c66b783a1a3b",
        "g": "917521be145e7dea",
        "name": "generate artifacts",
        "func": "let template = msg.payload.template;\nlet model = msg.payload.model;\nlet artifact = mustache.render(template, model);\nmsg.payload = artifact;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "mustache",
                "module": "mustache"
            }
        ],
        "x": 830,
        "y": 540,
        "wires": [
            [
                "a1ec82b476b04505",
                "336f4a4c4510a4a1"
            ]
        ]
    },
    {
        "id": "ad708588e464ce4f",
        "type": "http in",
        "z": "da13c66b783a1a3b",
        "name": "[GET] /jrgen-editor/templates/docs/doc-md",
        "url": "/jrgen-editor/templates/docs/doc-md",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 760,
        "wires": [
            [
                "80382171a9eb19e8"
            ]
        ]
    },
    {
        "id": "80382171a9eb19e8",
        "type": "file in",
        "z": "da13c66b783a1a3b",
        "name": "[READ] api-reference.md.mustache",
        "filename": "/data/jrgen-editor/blueprints/md-doc/api-reference.md.mustache",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 380,
        "y": 800,
        "wires": [
            [
                "8b793b7e81c9068b"
            ]
        ]
    },
    {
        "id": "7940d2c36eedead5",
        "type": "function",
        "z": "da13c66b783a1a3b",
        "name": "generate md model",
        "func": "const utils = context.get('utils');\n\nmsg.payload = {\n    template:msg.template,\n    model: {\n        title: msg.schema.info.title.replace(/\\s/g, \"\"),\n        version:msg.schema.info.version,\n        description: utils.normalizeMultiLineString(msg.schema.description),\n        methods: Object.keys(msg.schema.methods).map((key) => {\n            const methodSchema = msg.schema.methods[key];\n            node.warn(methodSchema)\n            return {\n                name: key,\n                summary: methodSchema.summary,\n                description:utils.normalizeMultiLineString(methodSchema.description),\n                params:utils\n                    .parsePropertyList(\"params\", methodSchema.params)\n                    .map((item)=>{\n                        item.constraints = item.constraints.replace(/\\|/g, \"\\\\|\");\n                        return item;\n                    }),\n                result: utils.parsePropertyList(\"result\", methodSchema.result),\n                errors:methodSchema.errors\n            };\n        }),\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nfunction parsePropertyList(name, schema){\n    console.log('parsing property')\n    if (!schema) {\n        return [];\n    }\n\n    if (schema.allOf) {\n        for (const item of schema.allOf) {\n            for (const key of Object.keys(item)) {\n                schema[key] = item.key;\n            }\n        }\n    }\n\n    let entries = [];\n\n    entries.push({\n        name: name,\n        type: schema.type,\n        description: schema.description || \"\",\n        constraints: Object.entries({\n            minLength: schema.minLength,\n            maxLength: schema.maxLength,\n            pattern: schema.pattern,\n            format: schema.format,\n            enum: schema.enum,\n            multipleOf: schema.multipleOf,\n            minimum: schema.minimum,\n            maximum: schema.maximum,\n            exclusiveMaximum: schema.exclusiveMaximum,\n            exclusiveMinimum: schema.exclusiveMinimum,\n            minItems: schema.minItems,\n            maxItems: schema.maxItems,\n            uniqueItems: schema.uniqueItems,\n            minProperties: schema.minProperties,\n            maxProperties: schema.maxProperties,\n            additionalProperties: schema.additionalProperties,\n            propertyNames: schema.propertyNames,\n            patternProperties: schema.propertyNames,\n            dependencies: schema.dependencies,\n            exclusive: schema.exclusive,\n        })\n            .filter(\n                ([constraintName, constraintValue]) => constraintValue !== undefined\n            )\n            .reduce((accumulator, [constraintName, constraintValue]) => {\n                if (typeof constraintValue === \"boolean\") {\n                    accumulator.push(constraintName);\n                } else {\n                    accumulator.push(`${constraintName}=\"${constraintValue}\"`);\n                }\n\n                return accumulator;\n            }, [])\n            .join(\", \"),\n        schema: JSON.stringify(schema, null, 2),\n\n    });\n    //console.log(entries)\n    if (schema.type === \"array\") {\n        if (Array.isArray(schema.items)) {\n            schema.items.forEach((item, index) => {\n                let selector = index;\n                if (item.name) {\n                    selector += \":\" + item.name;\n                }\n                entries = entries.concat(\n                    parsePropertyList(name + \"[\" + selector + \"]\", item)\n                );\n            });\n        } else {\n            entries = entries.concat(\n                parsePropertyList(name + \"[]\", schema.items)\n            );\n        }\n    } else if (schema.type === \"object\") {\n        Object.keys(schema.properties).forEach((key) => {\n            let connector = \"?.\";\n            if (schema.required && schema.required.includes(key)) {\n                connector = \".\";\n            }\n            entries = entries.concat(\n                parsePropertyList(\n                    name + connector + key,\n                    schema.properties[key]\n                )\n            );\n        });\n    }\n\n    if (schema.anyOf) {\n        schema.anyOf.forEach((item, index) => {\n            entries = entries.concat(\n                parsePropertyList(`${name}(${index})`, item)\n            );\n        });\n    }\n\n    if (schema.oneOf) {\n        schema.oneOf.forEach((item, index) => {\n            item.exclusive = true;\n            entries = entries.concat(\n                parsePropertyList(`${name}(${index})`, item)\n            );\n        });\n    }\n\n    return entries;\n};\nfunction normalizeMultiLineString(multiLineString, separator) {\n    if (!multiLineString) {\n        return \"\";\n    }\n    if (Array.isArray(multiLineString)) {\n        return multiLineString.join(separator || \"\\n\");\n    }\n    return multiLineString.toString();\n};\nconst utils = {\n    parsePropertyList,\n    normalizeMultiLineString\n}\ncontext.set(\"utils\", utils);",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1020,
        "wires": [
            [
                "bb4e6e29a8257021"
            ]
        ]
    },
    {
        "id": "8b793b7e81c9068b",
        "type": "change",
        "z": "da13c66b783a1a3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 840,
        "wires": [
            [
                "50df04eec7609315"
            ]
        ]
    },
    {
        "id": "50df04eec7609315",
        "type": "link call",
        "z": "da13c66b783a1a3b",
        "name": "call-get-schema.json",
        "links": [
            "fce3bde55afe2dfe"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 420,
        "y": 880,
        "wires": [
            [
                "948091ed8de34f9f"
            ]
        ]
    },
    {
        "id": "948091ed8de34f9f",
        "type": "json",
        "z": "da13c66b783a1a3b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 290,
        "y": 920,
        "wires": [
            [
                "774408b26ae4e9a1"
            ]
        ]
    },
    {
        "id": "774408b26ae4e9a1",
        "type": "json-refs-parser",
        "z": "da13c66b783a1a3b",
        "name": "",
        "x": 440,
        "y": 920,
        "wires": [
            [
                "5b7b9f0b7a6db2d3"
            ]
        ]
    },
    {
        "id": "bb4e6e29a8257021",
        "type": "function",
        "z": "da13c66b783a1a3b",
        "name": "generate artifacts",
        "func": "let template = msg.payload.template;\n\nlet model = msg.payload.model;\nnode.warn(model)\nlet artifact = mustache.render(template, model);\nmsg.payload = artifact;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "mustache",
                "module": "mustache"
            }
        ],
        "x": 430,
        "y": 1060,
        "wires": [
            [
                "f059b2c49d921bbd"
            ]
        ]
    },
    {
        "id": "f059b2c49d921bbd",
        "type": "debug",
        "z": "da13c66b783a1a3b",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1060,
        "wires": []
    },
    {
        "id": "259d20317ff962b6",
        "type": "inject",
        "z": "da13c66b783a1a3b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 800,
        "wires": [
            [
                "80382171a9eb19e8"
            ]
        ]
    },
    {
        "id": "5b7b9f0b7a6db2d3",
        "type": "change",
        "z": "da13c66b783a1a3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "schema",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 960,
        "wires": [
            [
                "7940d2c36eedead5"
            ]
        ]
    },
    {
        "id": "1d7d972ae4d3f2e9",
        "type": "link call",
        "z": "da13c66b783a1a3b",
        "name": "call-get-schema.json",
        "links": [
            "fce3bde55afe2dfe"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1100,
        "y": 980,
        "wires": [
            [
                "c5b40e85dc599f63"
            ]
        ]
    },
    {
        "id": "a14d5a61df3aa858",
        "type": "jrgen",
        "z": "da13c66b783a1a3b",
        "name": "",
        "x": 1150,
        "y": 1100,
        "wires": [
            [
                "3b3c2fe06d190ca6"
            ]
        ]
    },
    {
        "id": "c6768db38e7cd7ad",
        "type": "inject",
        "z": "da13c66b783a1a3b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1140,
        "y": 940,
        "wires": [
            [
                "1d7d972ae4d3f2e9"
            ]
        ]
    },
    {
        "id": "b1c7301cb98a8454",
        "type": "debug",
        "z": "da13c66b783a1a3b",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 1340,
        "wires": []
    },
    {
        "id": "b182cc93e4e5284d",
        "type": "change",
        "z": "da13c66b783a1a3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "schema",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "targetArtifact",
                "pt": "msg",
                "to": "docs-html",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1120,
        "y": 1060,
        "wires": [
            [
                "a14d5a61df3aa858"
            ]
        ]
    },
    {
        "id": "c5b40e85dc599f63",
        "type": "json",
        "z": "da13c66b783a1a3b",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1150,
        "y": 1020,
        "wires": [
            [
                "b182cc93e4e5284d"
            ]
        ]
    },
    {
        "id": "87aef51dbd39a0d7",
        "type": "debug",
        "z": "da13c66b783a1a3b",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 1140,
        "wires": []
    },
    {
        "id": "4441012968316645",
        "type": "file",
        "z": "da13c66b783a1a3b",
        "name": "",
        "filename": "/data/testfile.html",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1010,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "17587ded99840bfc",
        "type": "change",
        "z": "da13c66b783a1a3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.resolvedArtifact[\"example-api-reference.html\"]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 1140,
        "wires": [
            [
                "4441012968316645"
            ]
        ]
    },
    {
        "id": "fb9df27c27afc42b",
        "type": "http in",
        "z": "da13c66b783a1a3b",
        "name": "[GET] /jrgen-editor/blueprints/:targetArtifact",
        "url": "/jrgen-editor/blueprints/:targetArtifact",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 890,
        "y": 720,
        "wires": [
            [
                "3674290094c83da0",
                "fd31ccf56aa82e6e"
            ]
        ]
    },
    {
        "id": "3674290094c83da0",
        "type": "debug",
        "z": "da13c66b783a1a3b",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 720,
        "wires": []
    },
    {
        "id": "1faa5f1db09acf0a",
        "type": "http request",
        "z": "da13c66b783a1a3b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "9d263344c61d5566",
        "type": "inject",
        "z": "da13c66b783a1a3b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "http://localhost:1880/jrgen-editor/blueprints/docs-html",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 1160,
        "wires": [
            [
                "1faa5f1db09acf0a"
            ]
        ]
    },
    {
        "id": "fd31ccf56aa82e6e",
        "type": "change",
        "z": "da13c66b783a1a3b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "targetArtifact",
                "pt": "msg",
                "to": "req.params.targetArtifact",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 760,
        "wires": [
            [
                "93a67692ce18fb82"
            ]
        ]
    },
    {
        "id": "93a67692ce18fb82",
        "type": "switch",
        "z": "da13c66b783a1a3b",
        "name": "",
        "property": "targetArtifact",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 890,
        "y": 820,
        "wires": [
            [],
            [
                "1d7d972ae4d3f2e9"
            ]
        ]
    },
    {
        "id": "4b4d9a4942576975",
        "type": "link out",
        "z": "da13c66b783a1a3b",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 1270,
        "y": 1180,
        "wires": [],
        "l": true
    },
    {
        "id": "3b3c2fe06d190ca6",
        "type": "function",
        "z": "da13c66b783a1a3b",
        "name": "send artifact text",
        "func": "let artifacts = msg.payload.resolvedArtifact\nfor (let [key, val] of Object.entries(artifacts)){\n    msg.payload = val\n    node.send(msg);\n}\n// return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1140,
        "wires": [
            [
                "87aef51dbd39a0d7",
                "4b4d9a4942576975"
            ]
        ]
    },
    {
        "id": "ab13afaf0f07cbc2",
        "type": "http request",
        "z": "f2fd42354b38c8bc",
        "name": "[GET] - node-red-flows",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/flows",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 280,
        "wires": [
            [
                "e8d7c5ca5cc50cd3"
            ]
        ]
    },
    {
        "id": "3f769964ba4d7669",
        "type": "debug",
        "z": "f2fd42354b38c8bc",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "b06dc157d2ced725",
        "type": "inject",
        "z": "f2fd42354b38c8bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "ab13afaf0f07cbc2"
            ]
        ]
    },
    {
        "id": "e8d7c5ca5cc50cd3",
        "type": "json",
        "z": "f2fd42354b38c8bc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "42a6633aaa1a0d86"
            ]
        ]
    },
    {
        "id": "42a6633aaa1a0d86",
        "type": "function",
        "z": "f2fd42354b38c8bc",
        "name": "get flow id",
        "func": "let flows = msg.payload;\nlet udpClientId;\nflows.forEach(flow=>{\n    if (flow[\"type\"] == \"tab\" && flow[\"label\"] == \"UDP Client Template\"){\n        udpClientId = flow[\"id\"];\n        return;\n    }\n})\n\nmsg.url = `http://localhost:1880/flow/${udpClientId}`;\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "ffc312203115b523"
            ]
        ]
    },
    {
        "id": "ffc312203115b523",
        "type": "http request",
        "z": "f2fd42354b38c8bc",
        "name": "[GET] - UDP Client Flow",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "075b746eb29509b9",
        "type": "link call",
        "z": "f2fd42354b38c8bc",
        "name": "call-get-schema.json",
        "links": [
            "fce3bde55afe2dfe"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 360,
        "y": 680,
        "wires": [
            [
                "1b60cc97016d5ebe"
            ]
        ]
    },
    {
        "id": "dbdb0960293ec156",
        "type": "inject",
        "z": "f2fd42354b38c8bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "1f823d5d0c8b7509"
            ]
        ]
    },
    {
        "id": "4145d37af6e9689b",
        "type": "function",
        "z": "f2fd42354b38c8bc",
        "name": "generate model",
        "func": "let ty = 80;\nconst generateNodeId = flow.get('generateNodeId')\nlet model = {\n    title: msg.payload.info.title.replace(/\\s/g, \"\"),\n    methods: Object.keys(msg.payload.methods).map((key, index) => {\n        ty += 100\n        return {\n            functionName: key.replace(/\\./g, \"_\"),\n            rpcName: key,\n            ty:ty,\n            id:generateNodeId()\n\n        };\n        \n    }),\n}\nmsg.model = model\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 720,
        "wires": [
            [
                "760fb1e15c97540e"
            ]
        ]
    },
    {
        "id": "accb3d03cd472f5c",
        "type": "debug",
        "z": "f2fd42354b38c8bc",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 900,
        "wires": []
    },
    {
        "id": "1b60cc97016d5ebe",
        "type": "json",
        "z": "f2fd42354b38c8bc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 230,
        "y": 720,
        "wires": [
            [
                "4145d37af6e9689b"
            ]
        ]
    },
    {
        "id": "c88764e481d38887",
        "type": "inject",
        "z": "f2fd42354b38c8bc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "df9d40d0708905ef"
            ]
        ]
    },
    {
        "id": "df9d40d0708905ef",
        "type": "function",
        "z": "f2fd42354b38c8bc",
        "name": "module",
        "func": "function generateNodeId(){\n    let id = []\n    for (let i = 0; i < 16; i++) {\n        id.push(Math.floor(Math.random() * 16).toString(16))\n    }\n\n    id = id.join(\"\");\n    return id\n}\n\nflow.set('generateNodeId', generateNodeId)\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "760fb1e15c97540e",
        "type": "function",
        "z": "f2fd42354b38c8bc",
        "name": "generate artifacts",
        "func": "let newFlow = mustache.render(msg.template, msg.model)\nmsg.payload = newFlow\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "mustache",
                "module": "mustache"
            }
        ],
        "x": 370,
        "y": 760,
        "wires": [
            [
                "aeb36e82c1c560c7",
                "5cae8fb91340ec16"
            ]
        ]
    },
    {
        "id": "2b917f84b12e82f5",
        "type": "template",
        "z": "f2fd42354b38c8bc",
        "name": "",
        "field": "payload.methods",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n\t\"nodes\": [\n\t\t{{#payload.methods}}\n\t\t{\n\t\t\t\"id\": \"45cde07946b9b58b\",\n\t\t\t\"type\": \"inject\",\n\t\t\t\"z\": \"f6fbb702c511dc78\",\n\t\t\t\"name\": \"{{method}}\",\n\t\t\t\"props\": [\n\t\t\t\t{\n\t\t\t\t\t\"p\": \"payload\"\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\t\"p\": \"topic\",\n\t\t\t\t\t\"vt\": \"str\"\n\t\t\t\t}\n\t\t\t],\n\t\t\t\"repeat\": \"\",\n\t\t\t\"crontab\": \"\",\n\t\t\t\"once\": false,\n\t\t\t\"onceDelay\": 0.1,\n\t\t\t\"topic\": \"\",\n\t\t\t\"payload\": \"{\\\"jsonrpc\\\":\\\"2.0\\\",\\\"id\\\":0,\\\"method\\\":\\\"{{name}}\\\",\\\"params\\\":{}}\",\n\t\t\t\"payloadType\": \"json\",\n\t\t\t\"x\": 190,\n\t\t\t\"y\": 80,\n\t\t\t\"wires\": [\n\t\t\t\t[\n\t\t\t\t\t\"e57755641b564e4b\"\n\t\t\t\t]\n\t\t\t]\n\t\t},\n\t\t{{/payload.methods}}\n\t\t\n\t\t{\n\t\t\t\"id\": \"e57755641b564e4b\",\n\t\t\t\"type\": \"udp out\",\n\t\t\t\"z\": \"f6fbb702c511dc78\",\n\t\t\t\"name\": \"\",\n\t\t\t\"addr\": \"${host}\",\n\t\t\t\"iface\": \"\",\n\t\t\t\"port\": \"${port}\",\n\t\t\t\"ipv\": \"udp4\",\n\t\t\t\"outport\": \"\",\n\t\t\t\"base64\": false,\n\t\t\t\"multicast\": \"false\",\n\t\t\t\"x\": 490,\n\t\t\t\"y\": 80,\n\t\t\t\"wires\": []\n\t\t}\n\t]\n}",
        "output": "str",
        "x": 840,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "1f823d5d0c8b7509",
        "type": "file in",
        "z": "f2fd42354b38c8bc",
        "name": "[READ] api-client.json.mustache",
        "filename": "/data/jrgen-editor/blueprints/nr-client/api-client.json.mustache",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 330,
        "y": 600,
        "wires": [
            [
                "4d245374f6e28dbe"
            ]
        ]
    },
    {
        "id": "4d245374f6e28dbe",
        "type": "change",
        "z": "f2fd42354b38c8bc",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "template",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 640,
        "wires": [
            [
                "075b746eb29509b9"
            ]
        ]
    },
    {
        "id": "3841432d7086380e",
        "type": "http request",
        "z": "f2fd42354b38c8bc",
        "name": "[POST] - node-red-flow",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/flow",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 660,
        "wires": [
            [
                "5cae8fb91340ec16"
            ]
        ]
    },
    {
        "id": "f67abc2cbdfdbb1f",
        "type": "http in",
        "z": "f2fd42354b38c8bc",
        "name": "[GET] - /jrgen-editor/templates/clients/web-nr",
        "url": "/jrgen-editor/templates/clients/web-nr",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "1f823d5d0c8b7509"
            ]
        ]
    },
    {
        "id": "5cae8fb91340ec16",
        "type": "link out",
        "z": "f2fd42354b38c8bc",
        "name": "to-response",
        "mode": "link",
        "links": [
            "d3cda662559e53d7"
        ],
        "x": 850,
        "y": 760,
        "wires": [],
        "l": true
    },
    {
        "id": "aeb36e82c1c560c7",
        "type": "file",
        "z": "f2fd42354b38c8bc",
        "name": "[WRITE] api-client-example.json",
        "filename": "/data/jrgen-editor/blueprints/nr-client/api-client-example.json",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 330,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "f14d77cda16f49f3",
        "type": "udp in",
        "z": "6872e72f4ada9225",
        "name": "",
        "iface": "",
        "port": "${port_in}",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "da220ddabafa439a"
            ]
        ]
    },
    {
        "id": "da220ddabafa439a",
        "type": "json",
        "z": "6872e72f4ada9225",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "7876a1acf1ee8f96"
            ]
        ]
    },
    {
        "id": "7876a1acf1ee8f96",
        "type": "switch",
        "z": "6872e72f4ada9225",
        "name": "",
        "property": "payload.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 220,
        "wires": [
            [
                "dd9e4b215f1fbf02"
            ]
        ]
    },
    {
        "id": "dd9e4b215f1fbf02",
        "type": "function",
        "z": "6872e72f4ada9225",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 220,
        "wires": [
            [
                "ec578695124d77e7"
            ]
        ]
    },
    {
        "id": "ec578695124d77e7",
        "type": "udp out",
        "z": "6872e72f4ada9225",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "${port_out}",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1180,
        "y": 220,
        "wires": []
    },
    {
        "id": "386efde1b97328eb",
        "type": "mqtt in",
        "z": "8fc52c2ecdccb9b1",
        "name": "",
        "topic": "/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b98fd0058ee5ea60",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "47d1628dadcae412",
        "type": "mqtt out",
        "z": "8fc52c2ecdccb9b1",
        "name": "",
        "topic": "/",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b98fd0058ee5ea60",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "67eb2e6d716ae68e",
        "type": "function",
        "z": "8fc52c2ecdccb9b1",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 240,
        "wires": [
            []
        ]
    }
]